################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Weather-App-master2/.vs/Weather App/FileContentIndex/295c902a-5cb7-4495-9e0a-ba42554b2457.vsidx
/Weather-App-master2/.vs/Weather App
